<nav class="navbar navbar-primary bg-primary fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo.png" alt="Logo Agenda">
    </a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">
          Postagens
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">
          Caixa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">
          Serviços
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <a href="#" style="color: white;" class="nav-link">
          Administradores
        </a>
      </li>
    </ul>
  </div>
</nav>