<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class='bx bx-calculator'></i>
      <div class="logo_name">AGENDA C.</div>
    </div>
    <!-- <i class='bx bx-menu' id="btn"></i> -->
  </div>
  <ul class="nav_list">
    <li>
      <a href="/">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Página Inicial</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-cart-add' ></i>
        <span class="links_name">Solicitar Serviço</span>
      </a>
      <span class="tooltip">Solicite aqui!</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cart'></i>
        <span class="links_name">Serviços</span>
      </a>
      <span class="tooltip">Lista de Serviços</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-message-rounded-dots' ></i>
        <span class="links_name">Contato</span>
      </a>
      <span class="tooltip">Fale Conosco!</span>
    </li>
    <li>
      <a href="/client/login">
        <i class='bx bx-user-check'></i>
        <span class="links_name">Cliente</span>
      </a>
      <span class="tooltip">Acesso Cliente</span>
    </li>
    <li>
      <a href="/user/login">
        <i class='bx bx-user-circle'></i>
        <span class="links_name">Administrador</span>
      </a>
      <span class="tooltip">Acesso Admin</span>
    </li>
  </ul>
</div>