<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a href="/admin/article/new" class="navbar-brand">
        Home
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="/admin/article/show" class="nav-link">
                Categorias
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/section/show">
                Seções
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
        </li>
    </ul>
</nav>

