body {
    background-color: deepskyblue;

}

.card {
    background-color: #0d6efd;
    color: white;
    box-sizing: border-box;
    margin: auto;
}

.card-header {
    text-align: center;    
}

/* ANIMAÇÃO DO NOME */

.line
{
    border-right: 2px solid rgb(102, 98, 98);
    width: 690px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 15%;
}

.cursorTitle
{
    animation: cursor 500ms steps(40) infinite normal, 
    textAnimation 4s steps(40) 1s normal;
}

@keyframes textAnimation {
    from{
        width: 0;
    }
    to
    {
        width: 690px;
    }
}

@keyframes cursor {
    from {
        border-right: 2px solid rgb(102, 98, 98);
    }
    to{
        border-right: transparent;
    }
}

.imgAdmin
{
    width: 100px;
    border-radius: 20px;
}
