body {
    background-color: deepskyblue;
}

#cardLoginAdmin {
    margin-top: 25vh;
}

.card {
    background-color: black;
    color: white;
}

.card-header {
    text-align: center;
}

.logo {
    margin-top: 2vh;
    float: right;
}

.container {
    margin-top: 15vh;
}

.form-floating {
    color: black;
}

.imgAdmin
{
    width: 100px;
    border-radius: 20px;
}
