<%- include('../../../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/newStyle.css">
<%- include('../../../partials/head2.ejs') %>
<body>
    <%- include('../../../partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Cadastra Artigo</h2>
                <hr>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/article/save">
                    <label>Título</label>
                    <br><input placeholder="Digite o título" name="title" class="form-control">
                    <br><button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>

</body>
<%- include('../../../partials/footer.ejs') %>
