<%- include('../../../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/styleAdmin.css">
    <%- include('../../../partials/head2.ejs') %>

        <body>
            <%- include('../../../partials/navAdmin.ejs') %>
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <hr>
                            <h1 class="display-5">Publicar Post</h1>
                            <img src="/img/logo.png" class="mt-2">
                            <hr>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/admin/post/save">
                                <div class="form-floating">
                                    <input type="text" name="title" placeholder=" " class="form-control" required>
                                    <label>Título do Post</label>
                                </div>
                                <br><textarea class="form-control" name="body" id="post"></textarea>
                                <br><button class="btn btn-success">Publicar</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                </div>
        </body>
        <%- include('../../../partials/footer.ejs') %>
        <script src="/tinymce/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: "#post",
                plugins: ['image preview table print advlist hr insertdatetime link media paste emoticons'],
                language: "pt_BR"
            })
        </script>


      