<%-include('../../../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/indexHomePage.css">
    <%-include('../../../partials/head2.ejs') %>

        <body>
            <%-include('../../../partials/nav.ejs') %>
                <div class="container mt-5 mb-5" style="width: 600px;">
                    <div class="card" id="cardLoginAdmin">
                        <div class="card-header">
                            <hr>
                            <h1 class="display-6">Login Cliente</h1>
                            <img src="/img/cliente.png" alt="Administrador" class="imgAdmin">
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/user/clients/authenticate">
                                <div class="form-floating" style="color: black;">
                                    <input type="text" class="form-control" placeholder=" " name="email">
                                    <label>Email</label>
                                </div>
                                <br>
                                <div class="form-floating" style="color: black;">
                                    <input type="password" class="form-control" placeholder=" " name="password">
                                    <label>Senha</label>
                                </div>
                                <br>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-success" type="submit">Entrar</button>
                                </div>
                                <br>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <a class="btn btn-dark" type="submit" href="/client/new">Ainda Não tenho Cadastro</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </body>
        <%-include('../../../partials/footer.ejs') %>